<header>
    <nav>
           <div class="row">
               <div class="logo">
                <img src="assets/logo.png" alt="music logo">
                </div>
                <ul class="main-navv">
                    <li><a href="">Home</a></li>
                    <li><a href="">Artists</a></li>
                    <li><a href="">Latest Songs</a></li>
                    <li><a href="">About</a></li>
                </ul>
            </div>
    </nav>
    <div class="text-box">
        <h1>Stream Music Together</h1>
        <h2>Listen, play, discover and connect with Music</h2>
        <a class="btn btn-full" href="">Signup for Free</a>
        <a class="btn btn-ghost" href="">Login</a>
    </div>
    
</header>

<section class="section-features">
    
        <h2>Instant Access To Music</h2>
    <div class="row">
        <div class="col span-1-of-4 box">
            <i class="ion-ios-refresh-outline icon-big"></i>
            <h3>30 Seconds Preview</h3>
            <p>You can also take free plan. But only 30 seconds preview will be provided to you. Download facility not available in this plan</p>
        </div>

        <div class="col span-1-of-4 box">
            <i class="ion-ios-infinite-outline icon-big"></i>    
            <h3>One time Subscription</h3>
            <p>Easy Subscription Steps and Access of All songs up to 365 days/year upto lifetime</p>
        </div>
        <div class="col span-1-of-4 box">
            <i class="ion-social-usd-outline icon-big"></i>
            <h3>CashBack Guarantee</h3>
            <p>If you are not satisfied with our website, your money will be refunded 100% without any interest</p>
        </div>
        <div class="col span-1-of-4 box">
            <i class="ion-network icon-big"></i>
            <h3>Easy Subscription</h3>
            <p>Easy Subscription Steps and Access of All songs up to 365 days/year</p>
        </div>
    </div>
    
</section>

